<ion-header>
  <ion-toolbar>
    <ion-title>
      Clases Particulares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#apuntes">Apuntes</a></li>
    <li><a data-toggle="tab" href="#libro">Libro</a></li>
  </ul>
   <div class="tab-content">
    <div id="apuntes" class="tab-pane fade in active">
      <h3>Añadir Apuntes</h3>
        <form #formContacto="ngForm" (ngSubmit)="onSubmitApuntes()">

            <ion-list>
                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="oApuntes.nombre" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Autor</ion-label>
                    <ion-input type="text" name="autor" #autor="ngModel" [(ngModel)]="oApuntes.autor" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Temas</ion-label>
                    <ion-input type="text" name="temas" #temas="ngModel" [(ngModel)]="oApuntes.temas" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Verificado</ion-label>
                    <ion-input type="text" name="verificado" #verificado="ngModel" [(ngModel)]="oApuntes.verificado" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Asignatura</ion-label>
                    <ion-input type="text" name="asignatura" #asignatura="ngModel" [(ngModel)]="oApuntes.asignatura" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="oApuntes.descripcion"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Precio</ion-label>
                    <ion-input type="number" name="precio" #precio="ngModel" [(ngModel)]="oApuntes.precio" ></ion-input>
                </ion-item>
            </ion-list>

            <input type="hidden" name="idlibro" #idlibro="ngModel" [(ngModel)]="oApuntes.idapuntes" value=""><br>

            <ion-button type="submit" color="primary">Enviar </ion-button>

        </form>


    </div>

    <div id="libro" class="tab-pane fade">
      <h3>Añadir Libro</h3>

      <form #formContacto="ngForm" (ngSubmit)="onSubmitLibro()">


          <ion-list>
              <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="oLibro.nombre" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Estados</ion-label>
                  <ion-input type="text" name="estado" #estado="ngModel" [(ngModel)]="oLibro.estado" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Editorial</ion-label>
                  <ion-input type="text" name="editorial" #editorial="ngModel" [(ngModel)]="oLibro.editorial" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Vendedor</ion-label>
                  <ion-input type="text" name="vendedor" #vendedor="ngModel" [(ngModel)]="oLibro.vendedor" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">ISBN</ion-label>
                  <ion-input type="text" name="isbn" #isbn="ngModel" [(ngModel)]="oLibro.isbn"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="oLibro.descripcion"></ion-textarea>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Asignatura</ion-label>
                  <ion-input type="text" name="asignatura" #asignatura="ngModel" [(ngModel)]="oLibro.asignatura" ></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Precio</ion-label>
                  <ion-input type="number" name="precio" #precio="ngModel" [(ngModel)]="oLibro.precio"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">ID_Libro</ion-label>
                  <ion-input type="text" name="idLibro" #idLibro="ngModel" [(ngModel)]="oLibro.idLibro"></ion-input>
              </ion-item>

          </ion-list>

          <ion-button type="submit" color="primary">Enviar </ion-button>
      </form>
    </div>

  </div>
</ion-content>
