<ion-header>
  <ion-toolbar>
    <ion-title>
      Clases Particulares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#apuntes">Apuntes</a></li>
    <li><a data-toggle="tab" href="#libro">Libro</a></li>
  </ul>

  <div class="tab-content">
    <div id="apuntes" class="tab-pane fade in active">
      <h3>Añadir Apuntes</h3>
        <form #formContacto="ngForm" (ngSubmit)="onSubmitApuntes()">
            <!-- Story line -->
            <ion-item>
                <ion-label for="nombre">Nombre<br/></ion-label>
                <ion-input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="oApuntes.nombre"> </ion-input><br>
            </ion-item>

            <label for="autor">Autor</label><br>
            <input type="text" name="autor" #autor="ngModel" [(ngModel)]="oApuntes.autor"><br>

            <label for="temas">Temas</label><br>
            <input type="text" name="temas" #temas="ngModel" [(ngModel)]="oApuntes.temas"><br>

            <label for="verificado">Verificado</label><br>
            <input type="text" name="verificado" #verificado="ngModel" [(ngModel)]="oApuntes.verificado"><br>

            <label for="asignatura">Asignatura</label><br>
            <input type="text" name="asignatura" #asignatura="ngModel" [(ngModel)]="oApuntes.asignatura"><br>

            <label for="descripcion">Descripción</label><br>
            <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="oApuntes.descripcion"></textarea><br>

            <label for="precio">Precio</label><br>
            <input type="text" name="precio" #precio="ngModel" [(ngModel)]="oApuntes.precio">€<br>

            <input type="hidden" name="idlibro" #idlibro="ngModel" [(ngModel)]="oApuntes.idapuntes" value=""><br>

            <input type="submit" value="Enviar">
        </form>


    </div>

    <div id="libro" class="tab-pane fade">
      <h3>Añadir Libro</h3>

      <form #formContacto="ngForm" (ngSubmit)="onSubmitLibro()">
        <label for="nombre">Nombre</label><br>
        <!--Le damos con # para decir el nombre que tendrá y añadimos ngModel, para poder identificarlo en angular Y cambiar el valor de forma asíncrona-->
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="oLibro.nombre"><br>

        <label for="estado">Estados</label><br>
        <input type="text" name="estado" #estado="ngModel" [(ngModel)]="oLibro.estado"><br>

        <label for="editorial">Editorial</label><br>
        <input type="text" name="editorial" #editorial="ngModel" [(ngModel)]="oLibro.editorial"><br>

        <label for="vendedor">Vendedor</label><br>
        <input type="text" name="vendedor" #vendedor="ngModel" [(ngModel)]="oLibro.vendedor"><br>

        <label for="isbn">ISBN</label><br>
        <input type="text" name="isbn" #isbn="ngModel" [(ngModel)]="oLibro.isbn"><br>

        <label for="descripcion">Descripcion</label><br>
        <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="oLibro.descripcion"></textarea><br>

        <label for="asignatura">Asignatura</label><br>
        <input type="text" name="asignatura" #asignatura="ngModel" [(ngModel)]="oLibro.asignatura"><br>

        <label for="idLibro">ID_Libro</label><br>
        <input type="text" name="idLibro" #idLibro="ngModel" [(ngModel)]="oLibro.idLibro"><br>

        <label for="Precio">Precio</label><br>
        <input type="text" name="precio" #precio="ngModel" [(ngModel)]="oLibro.precio"><br>

        <input type="submit" value="Enviar">
      </form>
    </div>

  </div>
</ion-content>
