
  .expanded-wrapper{
    transition: 0.9s linear;
  }

  .expanded{
    -webkit-box-shadow: inset 0px 4px 31px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0px 4px 31px 1px rgba(0,0,0,0.34);
    box-shadow: inset 0px 4px 31px 1px rgba(0,0,0,0.34);
    background-color: #ebebeb;
    padding: 15px;
    position: absolute;
    top: 45px;
    left: 0px;
    float: left;
    clear: both;
    height: 70%;
    width: 98%;
    margin-left: 1%;
    border: 1px solid #ebebeb;
  }
