<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSubmit()" #formContacto="ngForm">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required pattern="[a-zA-Z]+"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" name="surname" #surname="ngModel" [(ngModel)]="new_user.surname" required pattern="[a-zA-Z]+"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Nivel Academico</ion-label>
      <ion-input type="text" name="lvlAcademic" #lvlAcademic="ngModel" [(ngModel)]="new_user.lvlAcademic" required></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Telefono</ion-label>
      <ion-input type="number" name="phone" #phone="ngModel" [(ngModel)]="new_user.phone" pattern="[0-9]+" min="100000000" max="999999999"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Profesor</ion-label>
      <ion-input type="text"  name="teacher" #teacher="ngModel" [(ngModel)]="new_user.teacher"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Cuenta Bancaria</ion-label>
      <ion-input type="text" name="countBank" #bank="ngModel" [(ngModel)]="new_user.bank"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="new_user.password" min="8"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Repite Contraseña</ion-label>
      <ion-input type="password" name="password" #rpassword="ngModel" [(ngModel)]="new_user.rpassword" min="8"></ion-input>
    </ion-item>
    <br>
    <button ion-button type="submit" class="btn-default" block>Modificar Perfil</button>
  </form>
</ion-content>
