<ion-header >
    <div style="background-color: #0ec254">
          <ion-nav color="&#45;&#45;ion-color-danger-shade">
            <ion-toolbar  class="new-background-color">
              <ion-title>
                Home
              </ion-title>
            </ion-toolbar>
          </ion-nav>
    </div>
    <nav>

    </nav>

</ion-header>

<ion-content>
    <div class="contenido">
        <br>

        <h1 class="primero" font>Busca en :</h1>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="stars" class="btn btn-selected" href="#tab1" data-toggle="tab" (click)="cambiar(1)"   ><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <div class="">Todos</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"(click)="cambiar(2)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <div class="">Apuntes</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"(click)="cambiar(3)"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="">Libros</div>
      </button>
    </div>

  </div>
        <h3>Productos destacados</h3>
    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
        <mbsc-scrollview-item mbsc-card *ngFor="let c of newGames">
            <mbsc-card-content>
                <img class="md-img" [src]="c.image" draggable="false">
                <mbsc-card-title>{{c.title}}</mbsc-card-title>
                <mbsc-card-subtitle>{{c.dev}}</mbsc-card-subtitle>
                <div class="md-rank">{{c.rank}}<span class="mbsc-ic mbsc-ic-star3"></span></div>
            </mbsc-card-content>
        </mbsc-scrollview-item>
    </mbsc-scrollview>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <h3>Ultimos Productos</h3>

          <section class="container-fluid">

              <div class="row">
                  <ion-card class="welcome-card"  class="col-xs-5 col-sm-3 col-md-2">

                      <ion-img src="http://placehold.it/500x500/EEE" ></ion-img>
                      <ion-card-header>
                          <h4 style="text-align: left">60€ </h4>
                      </ion-card-header>
                      <ion-card-content>
                          <p>Ahora que a accedido , les.</p>
                      </ion-card-content>
                  </ion-card>

                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x500/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>
                  <article class="col-xs-6 col-sm-3 col-md-2">
                      <div class="thumbnail">
                          <img src="http://placehold.it/500x250/EEE">
                          <div class="caption">
                              <h4>Thumbnail </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta,</p>
                              <a href="#" class="btn btn-info btn-xs" role="button" style="width: 50%">Button</a> <a href="#" class="btn btn-default btn-xs" role="button" style="width: 50%">Button</a>
                          </div>
                      </div>
                  </article>




              </div><!--/row-->
          </section>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <h3>This is tab 2</h3>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <h3>This is tab 3</h3>


      </div>
    </div>

   </div>
</ion-content>
